* {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  margin:0;
  padding:0;
  line-height: 1.5;
  text-decoration: none;
}

.banner {
  height: 12rem;
  line-height: 12rem;
  text-align: center;
  background: #ddd;
}

@media screen and (max-width: 767px) {
  .banner {
    height: 6rem;
    line-height: 6rem;
  }
}